// colors
$darkOrange: #E57D1B;
$lightGrey: #F2F2F2;
$darkGrey: #909090;
$lightBlue: #E2EAF2;
$blue: #337ab7;
$darkBlue: #4183D7;
$darkRed: #EF4836;
$lightGreen: #00B16A;
$purple: #8E44AD;

$subtleDarkBlue: #B0BBC8;
$subtleLightBlue: #e4ecf3;
$subtleLightGrey: #eeeeee;

$colorPrimary: $lightGreen;
$colorSecondary: $lightGrey;
$colorTernary: $darkOrange;

$colorLink: $darkBlue;
$colorBackground: white;
$colorBodyFont: black;
$colorSubtleFont: $subtleDarkBlue;

// fonts
$fontFamily: 'Source Sans Pro', sans-serif;
$fontLight: 300;
$fontRegular: normal;
$fontSemiBold: 600;
$fontBold: bold;

$z-index-hidden: -1;

$z-index-0: 20;
$z-index-1: 15;
$z-index-2: 14;
